#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px; /* Increased gap for better readability */
    margin: 20px;
}

.grid-node {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #3498db; /* Border color */
    background-color: #ecf0f1; /* Background color */
    color: #2c3e50; /* Text color */
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */

    /* Hover effect */
    &:hover {
        background-color: #3498db; /* Hover background color */
        color: #ecf0f1; /* Hover text color */
    }
}


/* to style the output container */

.word-list-container {
    width: 300px;
    margin: 20px auto; /* Center the container horizontally */
    padding: 10px;
    border: 1px solid #3498db;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.word-list-item {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #3498db;
    color: #ecf0f1;
    border-radius: 3px;
}
